### 1. Import dependecies

In [1]:
import pandas as pd
import seaborn as sns

### 2. Loading Data

In [2]:
df = pd.read_csv('data/processed/Missing_Values_Handled.csv')
df.head()

,Platform,Hashtag,Content_Type,Region,Views,Likes,Shares,Comments,Engagement_Level
0,TikTok,#Challenge,Video,UK,4163464,339431,53135,19346,High
1,Instagram,#Education,Shorts,India,4155940,215240,65860,27239,Medium
2,Twitter,#Challenge,Video,Brazil,3666211,327143,39423,36223,Medium
3,YouTube,#Education,Shorts,Australia,917951,127125,11687,36806,Low
4,TikTok,#Dance,Post,Brazil,64866,171361,69581,6376,Medium

### 3. Creating new features

#### 3.1 Engagement rates

##### We calculate total_interaction_rate to measure how much viewers engage with a post relative to its reach.

In [3]:
df['Like_Rate'] = (df['Likes'] / df['Views'])
df['Share_Rate'] = (df['Shares'] / df['Views'])
df['Comment_Rate'] = (df['Comments'] / df['Views'])
df.head()

,Platform,Hashtag,Content_Type,Region,Views,Likes,Shares,Comments,Engagement_Level,Like_Rate,Share_Rate,Comment_Rate
0,TikTok,#Challenge,Video,UK,4163464,339431,53135,19346,High,0.081526,0.012762,0.004647
1,Instagram,#Education,Shorts,India,4155940,215240,65860,27239,Medium,0.051791,0.015847,0.006554
2,Twitter,#Challenge,Video,Brazil,3666211,327143,39423,36223,Medium,0.089232,0.010753,0.009880
3,YouTube,#Education,Shorts,Australia,917951,127125,11687,36806,Low,0.138488,0.012732,0.040096
4,TikTok,#Dance,Post,Brazil,64866,171361,69581,6376,Medium,2.641769,1.072688,0.098295

### 3.2 dominant_engagement_type

##### We create the dominant_engagement_type feature to identify whether a post gets the most attention through likes, shares, or comments.

In [4]:
#df['dominant_engagement_type'] = df[['Likes', 'Shares', 'Comments']].idxmax(axis=1)
df['dominant_engagement_type'] = df[['Likes','Shares','Comments']].div(df['Views'], axis=0).idxmax(axis=1)

In [5]:
df.head(5)

,Platform,Hashtag,Content_Type,Region,Views,Likes,Shares,Comments,Engagement_Level,Like_Rate,Share_Rate,Comment_Rate,dominant_engagement_type
0,TikTok,#Challenge,Video,UK,4163464,339431,53135,19346,High,0.081526,0.012762,0.004647,Likes
1,Instagram,#Education,Shorts,India,4155940,215240,65860,27239,Medium,0.051791,0.015847,0.006554,Likes
2,Twitter,#Challenge,Video,Brazil,3666211,327143,39423,36223,Medium,0.089232,0.010753,0.009880,Likes
3,YouTube,#Education,Shorts,Australia,917951,127125,11687,36806,Low,0.138488,0.012732,0.040096,Likes
4,TikTok,#Dance,Post,Brazil,64866,171361,69581,6376,Medium,2.641769,1.072688,0.098295,Likes

In [6]:
# saving handled data set
df.to_csv( 'data/processed/feature_engineered.csv', index=False)